*{
 margin: 0;
 padding: 0;
 font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 *::before,
*::after {
    box-sizing: border-box;
}
}
html{
    scroll-behavior: smooth;
}
#body {
    background-color: rgb(31, 10, 10); 
    margin: 0;
    padding: 0;
    width: 100%;
}  

#header {
    background-image: url(images/poster.png);;   
    background-attachment: fixed;
    padding: 150px 0;
    height: 680px;
}
.header-text{
    margin-top: 10%;
    font-size: 20px;
    color: whitesmoke
}
.header-text h1{
    margin-left: 500px;
    font-size: 60px;
    margin-top: 0px;
}
.header-text h2{
    margin-left: 10px;
    font-size: 60px;
    margin-top: 0px;
}
.header-text p{
    margin-left: 600px;
    font-size: 20px;
}
.header-text h1 span{
    color: yellowgreen;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(23, 24, 27);
    z-index: 1000; 
  }
.logo {
    height:8vh;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
}

#about{  
    padding: 50px 0;
    background-color: black;
    margin-top: 5px;
    height: 685px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.about-col-1{
    flex-basis: 35%;
    }   
.about-col-1 img{
        width: 100%;
        border-radius: 15px;
        height: 75vh;
}
.about-col-2{ 
    flex-basis: 60%;
    position: centre;
    color: white;
    height: 65vh;
    
}
.sub-title{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
	color: white;
    position: centre;
}
.tab-titles{
    display: flex;
    color: white;
    margin: 20 px 0 40px;
    font-size: 25px;
    margin-left: 150px;
}
.tab-links{
    margin-right: 55px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: white;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 19px;
    margin-left: 0px;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: white;
    margin-left: 110px;
}
.tab-contents ul li:hover {
    background-color: lightBlue;
  } 
.tab-contents{
    font-size: 15px;
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents.active-tab ul li{
    display: block;
}
#projects{
    margin-top: 5px;
    display: flex;
    margin: 20 px 0 40px;
    background-color:black; 
}

.project-card {
    height: 370px;
}
.text-center{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.live-link-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#contact{
    margin-top: 5px;
    background-color:black; 
    height: 500px;
    color: white;
}
.content-left{
    margin-top: 20px;
    flex-basis: 35%;
    font-size: 15px;
    color: white;
}
.content-right{
    margin-top: 30px;
    flex-basis: 60%;
    color: white;
}
.content-left p{
    margin-top:30px
}
.content-left p i{
    color:lightblue;
    margin-right: 15px;
    font-size: 25px;
}
.content-left p:hover{
        color: green;
}
.btn.btn-primary {
    background: lightgreen;
    margin-top: 25px;
    padding: 13px 55px;
    cursor: pointer;
    font-size: 18px;
  } 
  .btn:hover {
    background-color: lightBlue;
  }     
    
.social-icons{
    margin-top: 20px;  
}
.social-icons a{
    font-size: 20px;
    margin-left: 35px;
    color:lightblue;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: green;
}
 
.content-right form{
    width: 100%; 
}
.text{
    margin-left: 700px;
    margin-top: 5px;
    color: white;
    font-size: 20px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:white;
    font-size: 15px;
    margin:16px 0;
    padding:15px;
    border-radius: 6px;
}
.footer{
    background: rgb(31, 10, 10); 
    color:whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 23px;
    text-align: center;
    text-align: center;
}
#txt{
    color:#b54769;
    margin-top: 25px;
    display: block;
}

nav .fas{
    display: none;
}
@media only screen and (max-width: 800px){
    #header{
        background-image: url(images/profile.png);
        background: black;
    }
    .header-text{
        margin-top: 100%;
        font-size: 14px;
    }
    .header-text h1{
        font-size: 20px;
    }
    nav .fas{
    display: block;
    font-size: 25px;
    }
    nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: 0;
    width:200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 3;
    transition: right 0.5s;
    }
    nav ul li{
    display: block;
    margin:25 px;
    }
    nav ul .fas{
    position:absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
   .about-col-1, .about-col-2{
    flex-basis: 100%;
   }
  .about-col-1{
    margin-bottom: 30px;
   }
   .about-col-2{
    font-size: 14px;
    }
   .tab-links{
    font-size: 16px;
    margin-right: 20px;
    }
    .contact,.content-left, .content-right{
    background: black;
    flex-basis: 100%;
   }
}